.board {
    height: 332px;
    width: 321px;
    margin:50px auto;
    padding: 50px; 
    background: rgba(40,40,40,1) -webkit-radial-gradient(center, rgba(40,80,60,1), rgba(0,20,20,.6));
    border-radius: 20px;
 }
 .row {
 	height: 103px;
 	width: 321px;
 }

.row > div {
	display: inline-block;
	width: 100px;
	height: 100px;
    text-align: center;
    vertical-align: top;
    font-size: 80px;
    color: white;
}

.bottom {
	border-bottom: 5px solid black;
}

.right {
	border-right: 5px solid black;
}
.gameboard {
	display: none;
}
.choice {
	display: none;
	text-align: center;
}
.XorO {
	display: none;
	text-align: center;
}
.firstone {
	display: none;
	text-align: center;
}
.start {
	text-align: center;
	margin-top: 50px;
}
.reset {
	display:none;
	text-align: center;
}
